---
title: UAA API Reference

search: true
---

# Overview

The User Account and Authentication Service (UAA):

- is an OAuth2 server that can be used for centralized identity management.
- owns the user accounts and authentication sources (SAML, LDAP)
- supports standard protocols such as SAML, LDAP and OpenID Connect to provide single sign-on and delegated authorization to web applications
- can be invoked via JSON APIs
- provides a basic login/approval UI for web client apps
- supports APIs for user account management for an external web UI
- most of the APIs are defined by the specs for the OAuth2, OpenID Connect, and SCIM standards.


# Authorization

## Authorization Code Grant

### Browser flow

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/browserCodeRequest/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/browserCodeRequest/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/browserCodeRequest/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/browserCodeRequest/request-parameters.md")).result(binding) %>

### Api flow

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/apiCodeRequest/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/apiCodeRequest/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/apiCodeRequest/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/apiCodeRequest/request-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/apiCodeRequest/request-headers.md")).result(binding) %>

<aside class="notice">
  The client must have autoapprove=true, or you will not get a code back
  If the client doesn't have a redirect_uri registered, it is an required parameter of the request
  The token must have scope "uaa.user" in order for this request to succeed.
</aside>

## Implicit Grant

### Browser flow

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/implicitGrant_browserRequest/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/implicitGrant_browserRequest/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/implicitGrant_browserRequest/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/implicitGrant_browserRequest/request-parameters.md")).result(binding) %>

_Response Headers_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/implicitGrant_browserRequest/response-headers.md")).result(binding) %>

## OpenID Connect flow

### ID token

  The authorization request may specify a response type of id_token, and an ID token as defined
  by OpenID Connect will be included in the fragment of the redirect URL.

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdToken/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdToken/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdToken/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdToken/request-parameters.md")).result(binding) %>

_Response Headers_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdToken/response-headers.md")).result(binding) %>

### With authorization code grant

  The request may specify that the client expects an ID token as defined by OpenID Connect, and this
  ID token will be included alongside the authorization code.

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndCode/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndCode/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndCode/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndCode/request-parameters.md")).result(binding) %>

_Response Headers_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndCode/response-headers.md")).result(binding) %>

### With implicit grant

  The request may specify that the client expects an ID token as defined by OpenID Connect, and this
  ID token will be included alongside the access token.

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndAccessToken/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndAccessToken/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndAccessToken/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndAccessToken/request-parameters.md")).result(binding) %>

_Response Headers_

<%= ERB.new(File.read("../build/generated-snippets/AuthorizeEndpointDocs/getIdTokenAndAccessToken/response-headers.md")).result(binding) %>

# Token

## Authorization Code Grant

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingAuthCodeGrant/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingAuthCodeGrant/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingAuthCodeGrant/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingAuthCodeGrant/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingAuthCodeGrant/response-fields.md")).result(binding) %>

## Client Credentials Grant

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingClientCredentialGrant/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingClientCredentialGrant/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingClientCredentialGrant/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingClientCredentialGrant/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingClientCredentialGrant/response-fields.md")).result(binding) %>

## Password Grant

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasswordGrant/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasswordGrant/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasswordGrant/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasswordGrant/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasswordGrant/response-fields.md")).result(binding) %>

### One-time Passcode

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasscode/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasscode/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasscode/http-response.md")).result(binding) %>

_Request Header_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasscode/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasscode/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getTokenUsingPasscode/response-fields.md")).result(binding) %>

<aside class="notice">
  The client-id and client-secret can also be included in the header as Basic Authorization for all grant types.
</aside>

## Refresh Token

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/refreshToken/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/refreshToken/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/refreshToken/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/refreshToken/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/refreshToken/response-fields.md")).result(binding) %>

## OpenID Connect

The token endpoint can provide an ID token as defined by OpenID Connect.

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getIdTokenUsingAuthCodeGrant/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getIdTokenUsingAuthCodeGrant/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getIdTokenUsingAuthCodeGrant/http-response.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getIdTokenUsingAuthCodeGrant/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/getIdTokenUsingAuthCodeGrant/response-fields.md")).result(binding) %>

## Revoke tokens

### Revoke all tokens for a user

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAUser/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAUser/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAUser/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAUser/path-parameters.md")).result(binding) %>

_Request Header_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAUser/request-headers.md")).result(binding) %>

### Revoke all tokens for a client

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAClient/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAClient/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAClient/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAClient/path-parameters.md")).result(binding) %>

_Request Header_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeAllTokens_forAClient/request-headers.md")).result(binding) %>

### Revoke a single token

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeSingleToken/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeSingleToken/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeSingleToken/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeSingleToken/path-parameters.md")).result(binding) %>

_Request Header_

<%= ERB.new(File.read("../build/generated-snippets/TokenEndpointDocs/revokeSingleToken/request-headers.md")).result(binding) %>

# Check Token

<%= ERB.new(File.read("../build/generated-snippets/CheckTokenEndpointDocs/checkToken/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/CheckTokenEndpointDocs/checkToken/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/CheckTokenEndpointDocs/checkToken/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/CheckTokenEndpointDocs/checkToken/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/CheckTokenEndpointDocs/checkToken/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/CheckTokenEndpointDocs/checkToken/response-fields.md")).result(binding) %>

# Token Key(s)

## Token Key

An endpoint which returns the JSON Web Token (JWT) key, used by the UAA to sign JWT access tokens, and to be used by authorized clients to verify that a token came from the UAA. The key is in JSON Web Key format. For complete information about JSON Web Keys, see [RFC 7517](https://tools.ietf.org/html/rfc7517). In the case when the token key is symmetric, signer key and verifier key are the same, then this call is authenticated with client credentials using the HTTP Basic method.

JWT signing keys are specified via the identity zone configuration (see [/identity-zones](#identity-zones)). An identity zone token policy can be configured with multiple keys for purposes of key rotation. When adding a new key, set its ID as the `activeKeyId` to use it to sign all new tokens. [/check_token](#check-token) will continue to verify tokens signed with the previous signing key for as long as it is present in the `keys` of the identity zone's token policy. Remove it to invalidate all those tokens.

### Asymmetric

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenAsymmetricAuthenticated/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenAsymmetricAuthenticated/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenAsymmetricAuthenticated/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenAsymmetricAuthenticated/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenAsymmetricAuthenticated/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 401        | Unauthorized - Unregistered client or incorrect client secret                                          |

### Symmetric

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenSymmetricAuthenticated/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenSymmetricAuthenticated/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenSymmetricAuthenticated/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenSymmetricAuthenticated/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/getTokenSymmetricAuthenticated/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 401        | Unauthorized - Unregistered client or incorrect client secret                                          |
| 403        | Forbidden - Not a resource server (missing `uaa.resource` scope)                                       |

## Token Keys

An endpoint which returns the list of JWT keys. To support key rotation, this list specifies the IDs of all currently valid keys. JWT tokens issued by the UAA contain a `kid` field, indicating which key should be used for verification of the token.

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/checkTokenKeysValues/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/checkTokenKeysValues/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/checkTokenKeysValues/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/checkTokenKeysValues/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/TokenKeyEndpointDocs/checkTokenKeysValues/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 401        | Unauthorized - Unregistered client or incorrect client secret                                          |

# Identity Zones

The UAA supports multi tenancy. This is referred to as identity zones. An identity zones is accessed through a unique subdomain. If the standard UAA responds to [https://uaa.10.244.0.34.xip.io](https://uaa.10.244.0.34.xip.io) a zone on this UAA would be accessed through [https://testzone1.uaa.10.244.0.34.xip.io](https://testzone1.uaa.10.244.0.34.xip.io)

>A zone contains a unique identifier as well as a unique subdomain:

```json
{
    "id":"testzone1",
    "subdomain":"testzone1",
    "name":"The Twiglet Zone[testzone1]",
    "version":0,
    "description":"Like the Twilight Zone but tastier[testzone1].",
    "created":1426258488910,
    "last_modified":1426258488910
}
```

>The UAA by default creates a default zone. This zone will always be present, the ID will always be `uaa`, and the subdomain is blank:

```json
{
    "id": "uaa",
    "subdomain": "",
    "name": "uaa",
    "version": 0,
    "description": "The system zone for backwards compatibility",
    "created": 946710000000,
    "last_modified": 946710000000
}
```

<aside class="notice">
  Note that if you specify a subdomain in mixed or upper case for creation or update of an identity zone, it will be converted into lower case before stored in the database. This way the UAA has an easy way to query the database for a zone based on a hostname.
</aside>

## Creating an identity zone

An identity zone is created using a `POST` with an `IdentityZone` object. If the object contains an id, this id will be used as the identifier, otherwise an identifier will be generated. Once a zone has been created, the UAA will start accepting requests on the subdomain defined in the `subdomain` field of the identity zone.
When an Identity Zone is created, an internal Identity Provider is automatically created with the default password policy.

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/createIdentityZone/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/createIdentityZone/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/createIdentityZone/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/createIdentityZone/request-headers.md")).result(binding) %>

_Request and Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/createIdentityZone/request-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 400        | Bad Request                                                                                            |
| 401        | Unauthorized - Invalid token                                                                           |
| 403        | Forbidden - Insufficient scope (Zones can only be created by being authenticated in the default zone.) |
| 422        | Unprocessable Entity - Invalid zone details                                                            |

>Sequential example of creating a zone and creating an admin client in that zone:

```bash
uaac target http://localhost:8080/uaa

uaac token client get admin -s adminsecret

uaac client update admin --authorities "uaa.admin,clients.read,clients.write,clients.secret,scim.read,scim.write,clients.admin,zones.testzone1.admin,zones.write"

uaac token client get admin -s adminsecret

uaac -t curl -XPOST -H"Content-Type:application/json" -H"Accept:application/json" --data '{ "id":"testzone1", "subdomain":"testzone1", "name":"The Twiglet Zone[testzone1]", "version":0, "description":"Like the Twilight Zone but tastier[testzone1]."}' /identity-zones

uaac -t curl -H"X-Identity-Zone-Id:testzone1" -XPOST -H"Content-Type:application/json" -H"Accept:application/json" --data '{ "client_id" : "admin", "client_secret" : "adminsecret", "scope" : ["uaa.none"], "resource_ids" : ["none"], "authorities" : ["uaa.admin","clients.read","clients.write","clients.secret","scim.read","scim.write","clients.admin"], "authorized_grant_types" : ["client_credentials"]}' /oauth/clients

uaac target http://testzone1.localhost:8080/uaa

uaac token client get admin -s adminsecret

uaac token decode
```

## Retrieving an identity zone

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getIdentityZone/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getIdentityZone/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getIdentityZone/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getIdentityZone/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getIdentityZone/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getIdentityZone/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 400        | Bad Request                                                                                            |
| 401        | Unauthorized - Invalid token                                                                           |
| 403        | Forbidden - Insufficient scope                                                                         |
| 404        | Not Found - Zone does not exist                                                                        |

## Retrieving all identity zones

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getAllIdentityZones/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getAllIdentityZones/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getAllIdentityZones/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getAllIdentityZones/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/getAllIdentityZones/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 400        | Bad Request                                                                                            |
| 401        | Unauthorized - Invalid token                                                                           |
| 403        | Forbidden - Insufficient scope                                                                         |

## Updating an Identity Zone

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/updateIdentityZone/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/updateIdentityZone/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/updateIdentityZone/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/updateIdentityZone/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/updateIdentityZone/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/updateIdentityZone/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/updateIdentityZone/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request                                                           |
| 401        | Unauthorized - Invalid token                                          |
| 403        | Forbidden - Insufficient scope (zone admins can only update own zone) |
| 404        | Not Found - Update to nonexistent zone                                |
| 422        | Unprocessable Entity - Invalid zone details                           |

## Deleting an Identity Zone

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/deleteIdentityZone/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/deleteIdentityZone/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/deleteIdentityZone/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/deleteIdentityZone/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/deleteIdentityZone/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityZoneEndpointDocs/deleteIdentityZone/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                 |
|------------|-----------------------------------------------------------------------------|
| 400        | Bad Request                                                                 |
| 401        | Unauthorized - Invalid token                                                |
| 403        | Forbidden - Insufficient scope (zone admins can only delete their own zone) |
| 404        | Not Found - Zone does not exist                                             |


# Identity Providers

## Create

### SAML

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createSAMLIdentityProvider/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createSAMLIdentityProvider/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createSAMLIdentityProvider/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createSAMLIdentityProvider/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createSAMLIdentityProvider/request-parameters.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createSAMLIdentityProvider/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createSAMLIdentityProvider/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |
| 409        | Conflict - Provider with same origin and zone id exists               |
| 422        | Unprocessable Entity - Invalid configuration                          |
| 500        | Internal Server Error                                                 |

### LDAP

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createLDAPIdentityProvider/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createLDAPIdentityProvider/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createLDAPIdentityProvider/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createLDAPIdentityProvider/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createLDAPIdentityProvider/request-parameters.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createLDAPIdentityProvider/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createLDAPIdentityProvider/request-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |
| 409        | Conflict - Provider with same origin and zone id exists               |
| 422        | Unprocessable Entity - Invalid configuration                          |
| 500        | Internal Server Error                                                 |

### OAuth/OIDC

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createOAuthIdentityProvider/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createOAuthIdentityProvider/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createOAuthIdentityProvider/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createOAuthIdentityProvider/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createOAuthIdentityProvider/request-parameters.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createOAuthIdentityProvider/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/createOAuthIdentityProvider/request-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |
| 409        | Conflict - Provider with same origin and zone id exists               |
| 422        | Unprocessable Entity - Invalid configuration                          |
| 500        | Internal Server Error                                                 |

## Retrieve All

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getAllIdentityProviders/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getAllIdentityProviders/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getAllIdentityProviders/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getAllIdentityProviders/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getAllIdentityProviders/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getAllIdentityProviders/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |

## Retrieve

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getIdentityProvider/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getIdentityProvider/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getIdentityProvider/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getIdentityProvider/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getIdentityProvider/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getIdentityProvider/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/getIdentityProvider/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |

## Update

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/updateIdentityProvider/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/updateIdentityProvider/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/updateIdentityProvider/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/updateIdentityProvider/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/updateIdentityProvider/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/updateIdentityProvider/request-parameters.md")).result(binding) %>

<aside class="notice">
  This example is for updating the internal (uaa) identity provider. <br/>
  For SAML refer to <a href="#saml">SAML Provider Fields. </a> <br/>
  For LDAP identity provider refer to <a href="#ldap">LDAP Provider Fields. </a>
</aside>

_Request and Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/updateIdentityProvider/request-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |
| 422        | Unprocessable Entity - Invalid config                                 |

## Delete

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/deleteIdentityProvider/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/deleteIdentityProvider/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/deleteIdentityProvider/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/deleteIdentityProvider/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/deleteIdentityProvider/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/deleteIdentityProvider/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/IdentityProviderEndpointsDocs/deleteIdentityProvider/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |
| 422        | Unprocessable Entity                                                  |



# Users

Users can be queried, created and updated via the `/Users` endpoint.

## List

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Find_Users/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Find_Users/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Find_Users/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Find_Users/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Find_Users/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Find_Users/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 400        | Bad Request - invalid JSON format or missing fields                                                    |
| 401        | Unauthorized - Invalid token                                                                           |
| 403        | Forbidden - Insufficient scope (scim.read is required to search user)                                  |

>Example using uaac to view users:

```bash
uaac target http://localhost:8080/uaa

uaac token client get admin -s adminsecret

uaac users
```

## Create

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Create_User/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Create_User/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Create_User/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Create_User/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Create_User/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Create_User/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 400        | Bad Request - invalid JSON format or missing fields                                                    |
| 401        | Unauthorized - Invalid token                                                                           |
| 403        | Forbidden - Insufficient scope (scim.write is required to create a user)                               |
| 409        | Username already exists                                                                                |

>Example using uaac to view users:

```bash
uaac target http://localhost:8080/uaa

uaac token client get admin -s adminsecret

uaac user add testuser --given_name About --family_name Schmidt --emails testuser@test.org --password secret
```

## Update

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Update_User/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Update_User/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Update_User/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Update_User/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Update_User/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Update_User/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 400        | Bad Request - invalid JSON format or missing fields                                                    |
| 401        | Unauthorized - Invalid token                                                                           |
| 403        | Forbidden - Insufficient scope (scim.write is required to create a user)                               |
| 404        | User id not found                                                                                      |

>Example using uaac to view users:

```bash
uaac target http://localhost:8080/uaa

uaac token client get admin -s adminsecret

uaac user update testuser --given_name About --family_name Schmidt --emails testuser@test.org --phones 415-555-1212
```

## Delete

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Delete_User/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Delete_User/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Delete_User/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Delete_User/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Delete_User/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                            |
|------------|--------------------------------------------------------------------------------------------------------|
| 400        | Bad Request - invalid JSON format or missing fields                                                    |
| 401        | Unauthorized - Invalid token                                                                           |
| 403        | Forbidden - Insufficient scope (scim.write is required to create a user)                               |
| 404        | User id not found                                                                                      |

>Example using uaac to view users:

```bash
uaac target http://localhost:8080/uaa

uaac token client get admin -s adminsecret

uaac user delete testuser
```

## Change user password

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Change_Password/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Change_Password/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Change_Password/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Change_Password/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Change_Password/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/test_Change_Password/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                                                                |
|------------|------------------------------------------------------------------------------------------------------------|
| 400        | Bad Request - invalid JSON format or missing fields                                                        |
| 401        | Unauthorized - Invalid token                                                                               |
| 403        | Forbidden - Insufficient scope (scim.write or a token containing the user id is required to create a user) |
| 404        | User id not found                                                                                          |

>Example using uaac to view users:

```bash
uaac target http://localhost:8080/uaa

uaac token owner get cf testuser -s "" -p "secret"

uaac password change -o secret -p newsecret
```

## Get user verification link

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/getUserVerificationLink/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/getUserVerificationLink/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/getUserVerificationLink/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/getUserVerificationLink/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/getUserVerificationLink/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/getUserVerificationLink/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/getUserVerificationLink/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope or internal user management disabled   |
| 404        | Not Found - User not found                                            |

## Verify user

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/directlyVerifyUser/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/directlyVerifyUser/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/directlyVerifyUser/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/directlyVerifyUser/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimUserEndpointDocs/directlyVerifyUser/request-headers.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request - Incorrect version supplied in If-Match header           |
| 403        | Forbidden - Insufficient scope or internal user management disabled   |
| 404        | Not Found - User not found                                            |

## Lookup User IDs/Usernames

<%= ERB.new(File.read("../build/generated-snippets/UserIdConversionEndpointDocs/lookUpIds/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/UserIdConversionEndpointDocs/lookUpIds/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/UserIdConversionEndpointDocs/lookUpIds/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/UserIdConversionEndpointDocs/lookUpIds/request-headers.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/UserIdConversionEndpointDocs/lookUpIds/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/UserIdConversionEndpointDocs/lookUpIds/response-fields.md")).result(binding) %>

_Error Codes_

| Error Code | Description                                      |
|------------|--------------------------------------------------|
| 400        | Bad Request - Request was invalid or unparseable |
| 403        | Forbidden - Insufficient scope                   |

## Invite users

<%= ERB.new(File.read("../build/generated-snippets/InvitationsEndpointDocs/inviteUsers/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/InvitationsEndpointDocs/inviteUsers/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/InvitationsEndpointDocs/inviteUsers/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/InvitationsEndpointDocs/inviteUsers/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/InvitationsEndpointDocs/inviteUsers/request-fields.md")).result(binding) %>

_Request Parameters_

<%= ERB.new(File.read("../build/generated-snippets/InvitationsEndpointDocs/inviteUsers/request-parameters.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/InvitationsEndpointDocs/inviteUsers/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |

# Groups

## Create

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/createScimGroup/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/createScimGroup/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/createScimGroup/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/createScimGroup/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/createScimGroup/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/createScimGroup/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request - Invalid member ID                                       |
| 403        | Forbidden - Insufficient scope                                        |

## Retrieve

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/retrieveScimGroup/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/retrieveScimGroup/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/retrieveScimGroup/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/retrieveScimGroup/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/retrieveScimGroup/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/retrieveScimGroup/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |

## Update

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/updateScimGroup/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/updateScimGroup/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/updateScimGroup/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/updateScimGroup/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/updateScimGroup/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/updateScimGroup/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/updateScimGroup/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request - Incorrect version supplied in If-Match header           |
| 403        | Forbidden - Insufficient scope                                        |
| 409        | Conflict                                                              |

## Delete

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/deleteScimGroup/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/deleteScimGroup/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/deleteScimGroup/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/deleteScimGroup/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/deleteScimGroup/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/deleteScimGroup/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request - Incorrect version supplied in If-Match header           |
| 403        | Forbidden - Insufficient scope                                        |
| 409        | Conflict                                                              |

## List

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/listScimGroups/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/listScimGroups/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/listScimGroups/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/listScimGroups/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimGroupEndpointsDocs/listScimGroups/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request - Invalid attributes                                      |
| 403        | Forbidden - Insufficient scope                                        |

## External Group Mappings

### Map

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/createExternalGroupMapping/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/createExternalGroupMapping/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/createExternalGroupMapping/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/createExternalGroupMapping/request-headers.md")).result(binding) %>

_Request Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/createExternalGroupMapping/request-fields.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/createExternalGroupMapping/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request - External group or origin should not be null             |
| 403        | Forbidden - Insufficient scope                                        |
| 404        | Not Found - Incorrect group ID provided                               |

### Unmap

#### By group ID

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                        |
| 404        | Not Found - No such group ID, external group, origin combination      |

#### By group display name

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMappingUsingName/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMappingUsingName/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMappingUsingName/http-response.md")).result(binding) %>

_Path Parameters_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMappingUsingName/path-parameters.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMappingUsingName/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMappingUsingName/response-fields.md")).result(binding) %>

| Error Code | Description                                                                |
|------------|----------------------------------------------------------------------------|
| 403        | Forbidden - Insufficient scope                                             |
| 404        | Not Found - No such group display name, external group, origin combination |

### List

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/curl-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/http-request.md")).result(binding) %>
<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/deleteExternalGroupMapping/http-response.md")).result(binding) %>

_Request Headers_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/listExternalGroupMapping/request-headers.md")).result(binding) %>

_Response Fields_

<%= ERB.new(File.read("../build/generated-snippets/ScimExternalGroupMappingsEndpointsDocs/listExternalGroupMapping/response-fields.md")).result(binding) %>

| Error Code | Description                                                           |
|------------|-----------------------------------------------------------------------|
| 400        | Bad Request - Invalid filter expression                               |
| 403        | Forbidden - Insufficient scope                                        |
